body > * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    color: #000;
}

table#squares td {
    width: 3em;
    height: 3em;
    text-align: center;
    vertical-align: middle;
    font: bold 36px sans-serif;
}

td#s1, td#s2, td#s3, td#s4, td#s5, td#s6 {
    border-bottom: 3px solid #000;
}

td#s1, td#s2, td#s4, td#s5, td#s7, td#s8 {
    border-right: 3px solid #000;
}

div#result {
    margin: 0.5em;
    font: 24px sans-serif;
}

